.containeer{
    display: flex;
    align-items: center;
    margin: 30px 30px 30px 30px;
    height: 10em;
    justify-content: center;
}
.fotoCerveza{
    height: 23rem;
}

.precio{
    background-color: rgb(76, 74, 180);
    
}

.stock{
    font-weight: bold;
}
