.titulo{
    color: black;
}

.descripcion{
    color:  white(255, 0, 191);
    background-color: rgb(76, 74, 180);
}

.item{
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    transition: transform .2s;
}
.item:hover{
    transform: scale(1.1);
}
.cervezas{
    height: 10em;
}