.titulo{
    color: black;
}

.descripcion{
    color:  white(255, 0, 191);
    background-color: rgb(76, 74, 180);
}

.item{
    display: inline-block;
    border: rgb(76, 74, 180) solid;
    margin-left: 10px;
}