.titulo{
    color: black;
}

.descripcion{
    color:  white(255, 0, 191);
    background-color: rgb(76, 74, 180);
}

.item{
    border: rgb(76, 74, 180) solid;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
}
.cervezas{
    height: 10em;
}