.containerNav{
    background-color: rgb(76, 74, 180);
    display: flex;
    justify-content: center;
}
.logo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
.nav{
    flex: 5;
    display: flex;
    justify-content: space-around;
}
.carrito{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.5rem;
}
p{
    color: white;
    font-family: fantasy;
    letter-spacing: 1.5px;
}

p a{
    text-decoration: none;
    color: white;
}

.contador-carrito{
    margin-right: 3rem;
}